#widget_manager_widgets_search {
	float: right;
    margin-top: -2px;
    
    input {
		padding: 0;
		margin: 0;
		font-size: 100%;
		height: 100%;
	}
}

.elgg-module-widget {
	.elgg-menu-widget {
		.elgg-menu-item-settings,
		.elgg-menu-item-delete {
			display: none;
		}
	}

	&:hover {
		.elgg-menu-widget {
			.elgg-menu-item-settings,
			.elgg-menu-item-delete {
				display: inline-block;
			}
		}
	}
}
