.elgg-form-newsletter-edit-template { 
	.elgg-input-radios {
		> li:hover > label > a {
			display: inline-block;
		}
	}
	
	.elgg-discover:hover {
		.elgg-discoverable {
			display: inline;
		}
	}
}

iframe.newsletter-preview {
	width: 100%;
	height: 2000px;
}

#newsletter-form-recipients {
	.elgg-autocomplete-item-remove {
		display: none;
	}
	
	.elgg-item:hover {
		.elgg-autocomplete-item-remove {
			display: inline-block;
			cursor: pointer;
		}
	}
}

#newsletter-embed-list {
	width: 700px;
}

#newsletter-embed-list > li {
	padding: 5px;
	border: 1px solid transparent;
	cursor: pointer;
	
	white-space: nowrap;
	overflow: hidden;
	color: #999;
}

#newsletter-embed-list > li > div > strong {
	color: black;
}

#newsletter-embed-list li:hover {
	border-color: #CCC;
}

.newsletter-embed-item-content {
	display: none;
}

#newsletter-embed-search {
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#newsletter-embed-search .elgg-input-text {
	width: 400px;
	margin-right: 10px;
}

#newsletter-embed-search .elgg-button-action {
	padding: 5px 15px;
}

.newsletter-placeholders li {
	display: inline-block;
	padding-right: 5px;
	cursor: help;
}

#newsletter-embed-format {
	> .elgg-module-info {
		> .elgg-body {
			max-height: 200px;
			overflow: auto;
		}
	}
}
